.mw-100{
  display: inline-block;
  width: 100px;
}

table.hours{
  td:nth-child(1){
    font-weight: 500;
    width: 120px;
  }
}

#main .related-list{
  background-color: whitesmoke;
  padding: 15px;

  h3.widget-title {
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 0.131578947em;
  }

  li {
    margin-bottom: 4px;
  }
}
