@import 'info';
@import 'font';
@import 'special';
// sass --watch sass:css

body {
  background-color: #333;
  &:after,
  &:before {
    display: none !important;
  }
}

.site-inner {
  max-width: 1100px;
  background-color: white;
}
#page {
  background: none;
  //margin: 0;
}
#masthead {
  padding: 0 30px;
  background-color: whitesmoke;
  margin-bottom: 30px;
  // border-bottom: 1px solid lightgray;
}
#content{
  padding: 0;
}
.widget {
  border: none;
  p{
    font-size: 16px !important;
  }
}

#site-navigation {
  a {
    margin: 0 5px;
  }
}
.current-menu-item a {
  background-color: #007acc;
  text-shadow: 0 0 1px black;
  color: white !important;
  font-weight: 400 !important;
  border-radius: 4px;
  box-shadow: 0 2px 0 #0062a5;
}
.full-width{
  margin: 0 -15%;
}
.entry-title{
  margin-bottom: 0;
}
