@import 'info';
@import 'font';
// sass --watch sass:css

body {
  background-color: #333;

  &:before, &:after{
    display: none !important;
  }
}

.site-inner {
  max-width: 1100px;
  background-color: white;
}
#page {
  background: none;
  //margin: 0;
}
#masthead {
  padding: 0 30px;
  background-color: whitesmoke;
}
